{% extends "base.html.j2" %}
{% block app_content %} 
{% block title %}
    {% if title %}
        {{ title }} - Microblog
    {% else %}
        Welcome to Microblog
    {% endif %}
{% endblock title %}
{% endblock %}